{% extends 'base.html' %}





<!--
    <body>
        <p>
            <a href=/StartCapture>Start Network Capture</a>
        </p>
        <p>
            <a href=/StopCapture>Stop Network Capture</a>
        </p>
        <p>
            <a href=/pppoe_config>Configurate PPPoE interface</a>
        </p>
        <p>
            <a href=/static_config>Configurate static IP</a>
        </p>
        <!--
        {% if htmlvar == 1 %}
        function returned {{ htmlvar }}
        {% else %}
        function returned {{ htmlvar }}
        {% endif %}
        -->

        <!--
    </body>
</html>
 -->